// BASE RULES: DEFAULT STYLE
// Wherever this element is on the page, it should look like this

@import 'assets/css/reset.css';

*{
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

h2, .title {
    padding: 0;
    margin: 0;
    color: $baseColor_white;
    font-size: 2.2em;
    text-transform: uppercase;
}

h3, .subtitle {
    padding: 0;
    margin: 0;
    color: $baseColor_white;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
}

//ICON & TEXT VERTICALLY CENTERED
.icon {
    display: inline-block;
    vertical-align: middle;
}
.text { 
    display: inline-block;
    vertical-align: middle;
}

// MAPS ICON STYLING
.mapsInfo{   
    display: flex;
    padding: .5em 0;
    width: 50vw;
    justify-content: space-between;

    .text{
        box-sizing: border-box;
        width: 80%;
        h2.info{font-size: 1.5em; color: #222;}
        h3.info{font-size: 1.2em; color: #222;}
    }

    .button{
        box-sizing: border-box;
        width: 20%;
        height: auto;
        padding: 0;
    }
    ion-icon{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        color: $baseColor_red;
        padding: 0;
        margin: 0;
    }
}




