// BASE RULES: DEFAULT STYLE
// Wherever this element is on the page, it should look like this

@import 'assets/css/reset.css';

*{
    font-family: 'Yanone Kaffeesatz', sans-serif !important;
}

h2, .title {
    padding: 0;
    margin: 0;
    color: $baseColor_white;
    font-size: 2.2em;
    text-transform: uppercase;
}

h3, .subtitle {
    padding: 0;
    margin: 0;
    color: $baseColor_white;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
}

//ICON & TEXT VERTICALLY CENTERED
.icon {
    display: inline-block;
    vertical-align: middle;
}
.text { 
    display: inline-block;
    vertical-align: middle;
}