// LAYOUT RULES
// Divide the page into sections
// Hold one or more modules together

ion-header {
    ion-toolbar {
        position: relative;
    
        ion-icon {
            //ion-icon with class="arrow-back"
            &.arrow-back {
                position: absolute;
                left: 1rem;
                font-size: 20px;
                z-index: 1;
            }
        }

        ion-title {
            // margin: 1rem 2rem;
            text-align: center;
        }
    }
}

.chef {
    position: relative;

    .follow {
        position: absolute;
        top: .5rem;
        right: .5rem;
        color: $baseColor_yellow;
        font-size: 2rem;
    }
}

ion-card {
    border-radius: 0 !important;
    // width: 100%;
}

ion-button .button-native {
    background: $baseColor_red !important;
    // color: $baseColor_white;
}

.box {
    padding: 1rem;
}

//FORM LAYOUT

//FONT CLASSES
.thin {
    font-weight: 300;
}

//highlight with color
.highlight {
    color: $baseColor_yellow;
}

.showOff {
    background: $baseColor_red;
    color: $baseColor_white;
}