<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
    <ion-title>Edit Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="fullName">
      <legend>Full Name</legend>
      <!-- Change profile pic -->
      <ion-item>
        <!-- Firstname -->
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" id="firstname" formControlName="usr_firstname"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Lastname -->
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" id="lastname" formControlName="usr_lastname"></ion-input>
      </ion-item>
    </fieldset>

    <fieldset formGroupName="address">
      <legend>Address</legend>
      <ion-item>
        <!-- Street -->
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text" id="street" formControlName="usr_street"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Nr -->
        <ion-label position="floating">Housenumber</ion-label>
        <ion-input type="text" id="housenumber" formControlName="usr_housenumber"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Zipcode -->
        <ion-label position="floating">Zipcode</ion-label>
        <ion-input type="text" id="zipcode" formControlName="zip_zipcode"></ion-input>
      </ion-item>
      <ion-item>
        <!-- City -->
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" id="city" formControlName="zip_city">
        </ion-input>
      </ion-item>
    </fieldset>

    <fieldset>
      <legend>Email Address</legend>
      <ion-item>
        <!-- Email -->
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" id="email" formControlName="usr_email"></ion-input>
      </ion-item>
    </fieldset>

    <fieldset>
      <legend>Telephone Number</legend>
      <ion-item>
        <!-- Telephone -->
        <ion-label position="floating">Telephone Number</ion-label>
        <ion-input type="tel" id="telephone" formControlName="usr_telephone"></ion-input>
      </ion-item>
    </fieldset>

    <ion-button type="submit" [disabled]="!userForm.valid">Update</ion-button>
  </form>

  <!-- <ion-button>Change your password</ion-button>
  <fieldset>
      <legend>Change Password</legend>
      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input type="password" id="password" name="password" [value]=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" id="password" name="password" [value]=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" id="password" name="password" [value]=""
          (input)="savePassword($event.target.value)"></ion-input>
      </ion-item>
    </fieldset> -->

</ion-content>