// import all SASS-files
@import './style/variables';
@import './style/base';
@import './style/layout';
@import './style/modules/date.picker';

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.li-ionic4-datePicker {
  .modal-wrapper {
      height: 75%;
      max-height: 478px;
      width: 312px;
      border-radius: 5px;
      --ion-color-primary: #FD665D; // This Variable used for the change of colour ion-datepicker only.
      --ion-color-primary-tint: #FECB46; // This Variable changes the tint colour of background when click button.
    }
  }