<ion-header>
  <ion-toolbar>
    <ion-title>Edit Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>{{userService.user}}</p>
  <form method="post" action="">
    <fieldset>
      <legend>Naam</legend>
      <!-- Change profile pic -->
      <!-- Firstname -->
      <ion-input type="text" id="firstname" name="firstname" required [value]="user.firstname" [placeholder]="userService.user[0].firstname" (input)="saveFirstname($event.target.value)"></ion-input>
      <!-- Lastname -->
      <ion-input type="text" id="lastname" name="lastname" required [value]="user.lastname" placeholder="user.lastname" (input)="saveLastname($event.target.value)"></ion-input>
    </fieldset>

    <fieldset>
      <legend>Adres</legend>
      <!-- Street -->
      <ion-input type="text" id="street" name="street" required [value]="user.street" [placeholder]="user.street" (input)="saveStreet($event.target.value)"></ion-input>
      <!-- Nr -->
      <ion-input type="text" id="housenumber" name="housenumber" required [value]="user.nr" [placeholder]="user.nr" (input)="saveNr($event.target.value)"></ion-input>
      <!-- Zipcode -->
      <ion-input type="text" id="zipcode" name="zipcode" required [value]="user.zipcode" [placeholder]="user.zipcode" (input)="saveZipcode($event.target.value)"></ion-input>
      <!-- City -->
      <ion-input type="text" id="city" name="city" required [value]="user.city" [placeholder]="user.city" (input)="saveCity($event.target.value)"></ion-input>
    </fieldset>

    <fieldset>
      <legend>E-mail</legend>
      <!-- Email -->
      <ion-input type="email" id="email" name="email" required [value]="user.email" [placeholder]="user.email" (input)="saveEmail($event.target.value)"></ion-input>
    </fieldset>

    <fieldset>
      <legend>Telefoonnummer</legend>
      <!-- Telephone -->
      <ion-input type="tel" id="telephone" name="telephone" required [value]="user.telephone" [placeholder]="user.telephone" (input)="saveTelephone($event.target.value)"></ion-input>
    </fieldset>

    <fieldset>
      <legend>Wijzig wachtwoord</legend>
      <ion-input type="password" id="password" name="password" required [value]="user.password" [placeholder]="user.password"></ion-input>
      <ion-input type="password" id="password" name="password" required [value]="user.password" [placeholder]="user.password"></ion-input>
      <ion-input type="password" id="password" name="password" required [value]="user.password" [placeholder]="user.password" (input)="savePassword($event.target.value)"></ion-input>
    </fieldset>
  </form>
</ion-content>