<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
    <ion-title>My Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid showOff">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          Cooking Experience
        </ion-col>
        <ion-col>
          <ion-icon name="restaurant"></ion-icon>
        </ion-col>
        <ion-col>
          {{cookedMeals}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          Order Experience
        </ion-col>
        <ion-col>
          <ion-icon name="basket"></ion-icon>
        </ion-col>
        <ion-col>
          {{finishedOrders}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          Rating Experience
        </ion-col>
        <ion-col>
            <ion-icon class="icon" class="rating rating-laugh" *ngIf="12<=avgRating"
            src='../../../assets/icon/laugh-beam-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-smile" *ngIf="8<=avgRating && avgRating<12"
            src='../../../assets/icon/laugh-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-like" *ngIf="4<=avgRating && avgRating<8"
            src='../../../assets/icon/smile-beam-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-neutral" *ngIf="-1<=avgRating && avgRating<4"
            src='../../../assets/icon/meh-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-sad" *ngIf="avgRating<-1" src='../../../assets/icon/frown-solid.svg'>
          </ion-icon>
          <!-- <app-chef-rate [rating]="avgRating"></app-chef-rate> -->
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- 
  <ion-card class="showOff">
    <ion-item>
      <ion-label>Completed Meals</ion-label>
      <ion-badge class="showOff" slot="end">
        <ion-icon class="icon" name="restaurant"></ion-icon>
        <span class="text"> {{cookedMeals}}</span>
      </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Completed Orders</ion-label>
      <ion-badge class="showOff" slot="end">
        <ion-icon class="icon" name="basket"></ion-icon>
        <span class="text"> {{finishedOrders}}</span>
      </ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Rating</ion-label>
      <ion-badge class="showOff" slot="end">
        <ion-icon class="icon" name="star"></ion-icon>
        <span class="text"> {{avgRating}}</span>
      </ion-badge>
    </ion-item>
  </ion-card> -->

</ion-content>