@import "../../../style/variables.scss";

* {
    font-size: 1.2rem;
}

.grid {
    margin: 2rem;
    margin-top: 5rem;
}

ion-badge {
    background: $baseColor_white;

    .text,
    .icon {
        color: $baseColor_red;
    }
}