<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
    <ion-title>My Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="showOff">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          Cooking Experience
        </ion-col>
        <ion-col>
          <ion-icon name="restaurant"></ion-icon>
        </ion-col>
        <ion-col>
          {{cookedMeals}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          Order Experience
        </ion-col>
        <ion-col>
          <ion-icon name="basket"></ion-icon>
        </ion-col>
        <ion-col>
          {{finishedOrders}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          Rating Experience
        </ion-col>
        <ion-col>
          <ion-icon name="star"></ion-icon>
        </ion-col>
        <ion-col>
          {{avgRating}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>