ion-title{
    text-align: center;
}

ion-icon.close{
    font-size: 2.5rem;
}

ion-content{
    width: 100vw;
    form{
        display: flex;
        justify-content: center;

        ul{
            width: 90%;

            li{
                margin: 1rem 0;
            }
        }
    }
}

--button-color{
    color: white;
}

.dateLabel{
    display: flex;
    align-items: center;
    ion-icon{
        font-size: 1.2;
        padding: 0;
        margin-right: 5px;
    }
}

// Datepicker default style
*{
    z-index: 100;
}
