<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
    <ion-title>My Cooked Meals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box showOff">
    <h2>Current meal(s)</h2>
  </div>
  <div class="box">
    <ion-grid>
      <ion-row class="tablehead">
        <ion-col size="4">
          Date
        </ion-col>
        <ion-col size="6">
          Meal
        </ion-col>
        <ion-col>
          <ion-icon name="basket"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="grid-data" *ngFor="let m of myMeals">
      <ion-row *ngIf="m.mls_date>=now">
        <ion-col size="4">
          {{m.mls_datum}}
        </ion-col>
        <ion-col size="6">
          {{m.mls_name}}
        </ion-col>
        <ion-col>
          {{m.mls_ordered}}/{{m.mls_amount}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="box showOff">
    <h2>Delivered meal(s)</h2>
  </div>
  <div class="box">
    <ion-grid>
      <ion-row class="tablehead">
        <ion-col size="4">
          Date
        </ion-col>
        <ion-col size="6">
          Meal
        </ion-col>
        <ion-col>
          <ion-icon name="basket"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="grid-data" *ngFor="let m of myMeals">
      <ion-row *ngIf="now>m.mls_date">
        <ion-col size="4">
          {{m.mls_datum}}
        </ion-col>
        <ion-col size="6">
          {{m.mls_name}}
        </ion-col>
        <ion-col>
          {{m.mls_amount}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>