@import "../../../style/variables.scss";

h2 {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

ion-grid {
    padding: 0;

    &.grid-data:last-of-type {
        margin-bottom: 1rem;
    }

    ion-row {
        padding: .5rem 0;
        &.tablehead {
            border-bottom: 1px solid $baseColor_red;
        }
    }

    ion-col.flex{
        display: flex;
        justify-content: space-around;
    }
}