@import '../../../assets/css/variables.scss';
// @import "../../../theme/layout.scss";

h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    background: $baseColor_red;
    color: $baseColor_white;
}