<ion-card class="userDetails">
    <ion-icon class="arrow-back" (click)="ms.hideModal()" name="arrow-back"></ion-icon>
    <ion-avatar>
        <img [src]=chef.chef_picture>
    </ion-avatar>
    <ion-card-title class="title"><h2>{{chef.chef_firstname}} {{chef.chef_lastname}}</h2></ion-card-title>
    <ion-card-title class="meal">{{meal.mls_name}}<ion-icon #alert class="alert" *ngIf = "allergies.length > 0" name="alert" (click)=show()></ion-icon></ion-card-title>
    <ul *ngIf = "allergies.length > 0" #popup class="popup">
        <li><p>This meal contains:</p></li>
        <li *ngFor="let item of allergies">{{item.allergies}}</li>
    </ul>
</ion-card>

<ion-content>
    
  <div class="time">
    <div class="left">
        <p>Pick-up date:  <span class='bold'>{{meal.mls_date}}</span></p>
        <p>Pick-up time: <span class='bold'>{{meal.mls_take_start | slice:0:-3}}</span> - <span class='bold'>{{meal.mls_take_end| slice:0:-3}}</span></p>
    </div>
    <div class="right price bold">
        {{meal.mls_price| currency:"EUR" }}
    </div>
  </div>

  <div>
    <div class="mealData ">
        <h4 class='title'>Description</h4>
        <p>{{meal.mls_description}}</p>
    </div>
    <div class="mealData">
            <h4 class='title'>portions</h4>
            <p>{{meal.available_portions }} portions available</p>
        </div>
    <div class="mealData">
        <h4 class='title'>Adress</h4>
        <p>{{chef.chef_street}} {{chef.chef_nr}}, {{chef.chef_zip}} {{chef.chef_city}}</p>
    </div>
  </div>

  <div class="btns">
      <ion-button class="red" (click)="getMeal()"><p>Get this meal!</p></ion-button>
  </div>
</ion-content>
