<ion-card class="userDetails">
    <ion-avatar>
        <img [src]=chef.chef_picture>
    </ion-avatar>
    <ion-card-title class="title">{{chef.chef_firstname}} {{chef.chef_lastname}}</ion-card-title>
    <ion-card-title class="title meal">{{meal.mls_name}}</ion-card-title>
    
</ion-card>

<ion-content>
  <div class="time">
    <div class="left">
        <p>Pick-up date:  <span class='bold'>{{date}}</span></p>
        <p>Pick-up time: <span class='bold'>{{meal.mls_take_start | slice:0:-3}}</span> - <span class='bold'>{{meal.mls_take_end| slice:0:-3}}</span></p>
    </div>
    <div class="right price bold">
        {{meal.mls_price| currency:"EUR" }}
    </div>
  </div>


  <ion-item>
      <ion-label>Description: {{meal.mls_description}}</ion-label>
  </ion-item>
  <ion-item>
      <ion-label>portions: {{meal.mls_portions }}</ion-label>
  </ion-item>

  <div class="subtitle">
    <label>About Chef</label>
  </div>  
  <ion-card>
      <ion-item>
          <ion-label>Adress: {{chef.chef_street}} {{chef.chef_nr}}, {{chef.chef_zip}} {{chef.chef_city}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>  </ion-label>
      </ion-item>
  </ion-card>

  <div class="btns">
      <ion-button (click)="hideModal()">Close</ion-button>
      <ion-button (click)="presentLoading()" (click)="getMeal()">Get this meal!</ion-button>
  </div>
</ion-content>
