<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
    <ion-title>My Favorite Chefs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="chef" *ngFor="let c of favChefs">
    <!-- <app-chef-card [chef]=c></app-chef-card> -->
    <ion-avatar class="profilepic">
      <img [src]=c.usr_profile_url alt="profilepicture">
    </ion-avatar>
    <div class="top">
      <div class="info">
        <h3 class="rating1" *ngIf="4>c.avg_rating || 2>c.mls_cooked">Commis de cuisine</h3>
        <h3 class="rating2" *ngIf="c.avg_rating>4 && c.mls_cooked>=2">Aide de cuisine</h3>
        <h3 class="rating3" *ngIf="c.avg_rating>7 && c.mls_cooked>=3">Sous-chef</h3>
        <h3 class="rating4" *ngIf="c.avg_rating>10 && c.mls_cooked>=5">Chef de cuisine</h3>
        <h2>{{c.usr_firstname}} {{c.usr_lastname}}</h2>
      </div>
    </div>
    <div class="bottom">
      <div class="info">
        <h2>
          <ion-icon class="icon" name="restaurant"></ion-icon>
          <span class="text" *ngIf="c.mls_cooked"> {{c.mls_cooked}}</span>
          <span class="text" *ngIf="!c.mls_cooked"> -</span>
        </h2>
        <h2>
          <ion-icon class="icon" name="basket"></ion-icon>
          <span class="text" *ngIf="c.ord_finished"> {{c.ord_finished}}</span>
          <span class="text" *ngIf="!c.ord_finished"> -</span>
        </h2>
        <h2 class="h2-icon">
          <ion-icon class="icon" class="rating rating-laugh" *ngIf="12<=c.avg_rating"
            src='../../../assets/icon/laugh-beam-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-smile" *ngIf="8<=c.avg_rating && c.avg_rating<12"
            src='../../../assets/icon/laugh-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-like" *ngIf="4<=c.avg_rating && c.avg_rating<8"
            src='../../../assets/icon/smile-beam-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-neutral" *ngIf="-1<=c.avg_rating && c.avg_rating<4"
            src='../../../assets/icon/meh-solid.svg'></ion-icon>
          <ion-icon class="icon" class="rating rating-sad" *ngIf="c.avg_rating<-1"
            src='../../../assets/icon/frown-solid.svg'></ion-icon>
        </h2>
      </div>
    </div>
  </ion-card>

</ion-content>