<ion-header>
  <ion-toolbar>
    <ion-icon class="icon arrow-back" (click)="ms.hideModal()" name="arrow-back"></ion-icon>
    <ion-title>Edit Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset class="box" formGroupName="fullName">
      <legend>Full Name</legend>
      <ion-item>
        <!-- Firstname -->
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" id="firstname" formControlName="usr_firstname"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Lastname -->
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" id="lastname" formControlName="usr_lastname"></ion-input>
      </ion-item>
    </fieldset>

    <fieldset class="box" formGroupName="address">
      <legend>Address</legend>
      <ion-item>
        <!-- Street -->
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text" id="street" formControlName="usr_street"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Nr -->
        <ion-label position="floating">Housenumber</ion-label>
        <ion-input type="text" id="housenumber" formControlName="usr_housenumber"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Zipcode -->
        <ion-label position="floating">Zipcode</ion-label>
        <ion-input type="text" id="zipcode" formControlName="zip_zipcode"></ion-input>
      </ion-item>
      <ion-item>
        <!-- City -->
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" id="city" formControlName="zip_city">
        </ion-input>
      </ion-item>
    </fieldset>

    <div class="btns">
      <ion-button class="red" type="submit" [disabled]="!userForm.valid"><p>Update</p></ion-button>
    </div>
  </form>

</ion-content>