// Datepicker default style.li-ionic4-datePicker {
.modal-wrapper {
    height: 75%;
    max-height: 478px;
    width: 312px;
    border-radius: 5px;
    //--ion-color-primary: red; // This Variable used for the change of colour ion-datepicker only.
    //--ion-color-primary-tint: rgb(214, 153, 153); // This Variable changes the tint colour of background when click button.

    //ion-button { }

    @media (min-width: 768px) {
        width: 350px;
        height: 65%;
    }
}
