<ion-header>
  <ion-toolbar>
    <ion-title>My Allergies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="paddingBox">
    <ion-chip *ngFor="let a of userAllergies">
      <ion-label>{{a.ing_name}}</ion-label>
    </ion-chip>

    <p *ngIf="!hasAllergies">You didn't add any allergies to your profile</p>

    <form class="allergyform">
      <ion-item>
        <ion-label position="floating">Add an allergy here</ion-label>
        <ion-input list="allergyList" name="allergy" value="" (input)="addInputValues($event.target.value)">
        </ion-input>
      </ion-item>
      <ul class="inputList">
        <li *ngFor="let value of inputValues" (click)="addAllergy(value)">{{value.ing_name}}</li>
      </ul>
      <p>Please add ingredients that you are allergic to so we can check it with the ingredients of the meal.</p>
    </form>

  </div>

</ion-content>

<ion-footer class="paddingBox">
  <p>Important!</p>
  <p>We don't take any responsibility for the incompleteness of the ingredients list of the served meal. Take notice
    that the served meals are cooked in a private kitchen and there might always be a fraction of any ingredient in your
    meal although it is not used for this meal. We discourage people with serious allergic reaction to use this app. The
    user always stays responsible for his own health.</p>
</ion-footer>