ion-header {
    ion-toolbar {
        position: relative;
    
        ion-icon {
            //ion-icon with class="arrow-back"
            &.arrow-back {
                color: #333;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 20px;
                padding: 1rem;
            }
        }

        ion-title {
            margin: 1rem 2rem;
        }
        


    }
}
