<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Profile', iconSource: getIconSource('')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Meals', iconSource: getIconSource('')}"
        name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Chefs', iconSource: getIconSource('')}"
        name="chefsTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Add', iconSource: getIconSource('')}"
        name="addTab">
    </page-router-outlet>

</TabView>