<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="ms.hideModal()" name="arrow-back"></ion-icon>
    <ion-title>My account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="userDetails">
  <ion-avatar (click)="ms.openEditUser()">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    <a class="editUser">
      <ion-icon name="create"></ion-icon>
    </a>
  </ion-avatar>
  <ion-card-title>{{u.usr_firstname}} {{u.usr_lastname}}</ion-card-title>
  <ion-card-subtitle>{{user[0].usr_street}} {{user[0].usr_housenumber}}, {{user[0].zip_zipcode}} {{user[0].zip_city}}
  </ion-card-subtitle>
</ion-card>

<ion-content>

  <ion-nav>
    <ul>
      <!-- Indicated allergies -->
      <li (click)="ms.openAllergies()">
        <ion-icon name="medkit"></ion-icon> My Allergies
      </li>
      <!-- Chefs that user follows -->
      <li (click)="ms.openFavoriteChefs()">
        <ion-icon name="star"></ion-icon> My Favorite Chefs
      </li>
      <!-- Rating and delivered meals -->
      <li (click)="ms.openExperience()">
        <ion-icon name="ribbon"></ion-icon> My Experience
      </li>
      <!-- History of Cooked Meals -->
      <li (click)="ms.openMealHistory()">
        <ion-icon name="restaurant"></ion-icon> My Meals
      </li>
      <li (click)="ms.openInvite()">
        <ion-icon name="people"></ion-icon> Invite Friends
      </li>
      <li (click)="ms.openSettings()">
        <ion-icon name="settings"></ion-icon> Settings
      </li>
      <li (click)="ms.openInfo">
        <ion-icon name="help-circle"></ion-icon> Info
      </li>
    </ul>
  </ion-nav>

</ion-content>