@import "../../assets/css/variables.scss";

.userDetails {
    width: 100vw;
    margin: 0;
    padding: 1rem;
    background: $baseColor_red;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    ion-avatar {
        position: relative;
        height: 100px;
        width: 100px;
        margin-bottom: .3rem;

        img {
            border: 5px solid $baseColor_white;
        }

        .editUser {
            background: $baseColor_white;
            color: $baseColor_red;
            border-radius: 50%;
            padding: 4px;
            position: absolute;
            right: 0px;
            bottom: 7px;
        }
    }

    ion-card-title,
    ion-card-subtitle {
        color: $baseColor_white;
    }
}

ion-nav {
    width: 100%;
    overflow: scroll;
    margin-bottom: 1rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            width: 80%;
            margin-top: 1rem;
            text-decoration: none;
            // color: #333;
            padding: 1rem;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: flex-end;

            ion-icon {
                margin-right: 1rem;
            }

        }
    }
}