
<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pageName == 'Facebook'">
  <div class="container">
  <ion-slides [options]=slideOpts>
    <ion-slide>
        <ion-card>
          <img src="../../assets/img/fresh_food.jpg">
            <ion-card-header>
              <ion-card-subtitle>Steal my meal</ion-card-subtitle>
              <ion-card-title>Welkom!</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Welkom bij <span class="bold">Steal My Meal</span>!<br>
              Met hulp van deze app kan je makkelijk maaltijden delen en/of bestellen! Log in met je facebook account om er meteen aan te beginnen.
            </ion-card-content>
          </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Steal my meal</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Steal my meal</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Steal my meal</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    </ion-slide>
  </ion-slides>
  <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=281257842778510&redirect_uri=https://www.facebook.com/connect/login_success.html&state={}">
    <button class="facebookButton">
      Continue with facebook
    </button>
  </a>
</div>
</ion-content>

<ion-content *ngIf="pageName == 'Adress'">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="address">
      <legend>Address</legend>
      <ion-item>
        <!-- Street -->
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text" id="street" formControlName="usr_street"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Nr -->
        <ion-label position="floating">Housenumber</ion-label>
        <ion-input type="text" id="housenumber" formControlName="usr_housenumber"></ion-input>
      </ion-item>
      <ion-item>
        <!-- Zipcode -->
        <ion-label position="floating">Zipcode</ion-label>
        <ion-input type="text" id="zipcode" formControlName="zip_zipcode"></ion-input>
      </ion-item>
      <ion-item>
        <!-- City -->
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" id="city" formControlName="zip_city">
        </ion-input>
      </ion-item>
    </fieldset>
    <ion-button type="submit" [disabled]="!userForm.valid">Update</ion-button>
  </form>
</ion-content>


