<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button #up id="up" (click)="upClicked()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>

<app-map [userID] = 'userID' [meals] = 'meals' [chefIds] = 'chefIds' [chefs] = 'chefs' (distanceChange)="distanceChange($event)"></app-map>

<ion-fab vertical="top" horizontal="end">
  <ion-fab-button class="menu">
    <ion-icon name="menu"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">

    <ion-fab-button (click)="ms.openAddMeal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button (click)="ms.openProfile()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>

    <ion-fab-button>
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-slides id="outerSlider" [options]="slideOpts" #slider (ionSlideNextEnd)="hideUp($event)"
  (ionSlideReachStart)="showUp($event)" (mouseup) = dragUp()>
  <ion-slide class="slide firstSlider">
  </ion-slide>
  <ion-slide class="slide transparant">
  </ion-slide>
  <ion-slide class="slide mealComponents" (mousedown) = dragDown() (mouseup) = dragUp()>
    <content>
      <p *ngFor="let chef of chefs; let i = index">
        <app-meal-item [meal]=meals[chef.chef_id] [chef]=chef [distance]="distances[i]"
          (click)="goToMealDetail(meals[chef.chef_id], chef)"></app-meal-item>
      </p>
    </content>
  </ion-slide>
</ion-slides>