<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
    <ion-title>My Next Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="box">
  <h1>Next order to pick up:</h1>
  <ion-card class="meal">

    <div class="box top">
      <h2 class="title">{{orders[0].mls_name}}</h2>
    </div>

    <div class="box center info info-voucher">
      <div class="info-important">
        <p class="address">
          <span>Pick up place:</span>
          <span class="date">{{orders[0].usr_street}} {{orders[0].usr_housenumber}}, {{orders[0].zip_zipcode}}
            {{orders[0].zip_city}}</span>
        </p>
        <p>
          <span>Pick up time:</span><br>
          <span class="date">{{orders[0].mls_date | date:"dd/MM/yy"}}</span>
          <br>
          <span>{{orders[0].mls_take_start}} -
            {{orders[0].mls_take_end}}</span>
        </p>
        <h2>
          <span class="text">{{orders[0].ord_amount}} </span>
          <ion-icon class="icon" name="basket"></ion-icon>
        </h2>
        <h2>€ {{orders[0].mls_price}}</h2>
      </div>
      <p class="description">{{orders[0].mls_description}}</p>
    </div>

    <div class="box bottom bottom-swipe">

      <h2 class="voucher-validated" *ngIf="orders[0].ord_is_delivered!=0">Enjoy!</h2>

      <!-- only visable when not picked up/swiped -->
      <ion-item-sliding class="swiper" *ngIf="orders[0].ord_is_delivered==0"
        (ionSwipe)="voucherIsSwiped(orders[0].mls_id)">
        <ion-item class="swipe-start" href="#">
          <div class="swipe-icon">
          </div>
          <h2 id="swipe-start-label">Swap Voucher</h2>
        </ion-item>

        <!-- can only be swiped on the day of serving -->
        <ion-item-options class="swiper-option" side="start" *ngIf="orders[0].mls_date==today">
        </ion-item-options>
      </ion-item-sliding>

    </div>
  </ion-card>
  <p class="voucher-note">Show this voucher when you pick up your meal.<br>Let the chef swipe and enjoy!</p>

  <!-- FULL OVERVIEW OF ALL CURRENT ORDERS -->
  <div class="highlight" *ngIf="1<orders.length" (click)="ms.OpenOrderList()">
    <h1>Show all my ordered meals</h1>
  </div>

</ion-content>