<ion-header>
  <ion-toolbar>
      <ion-icon class="arrow-back" (click)="hideModal()" name="arrow-back"></ion-icon>
      <ion-title>Full Order List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="box">
    <ion-card class="meal" *ngFor="let o of orders">
      <div class="box top">
        <h2 class="title">{{o.mls_name}}</h2>
      </div>
      <div class="box bottom info info-orders">
        <div class="info-important">
          <p>
            <span>Pick up time:</span><br>
            <span class="date">{{o.mls_date | date:"dd/MM/yy"}}</span>
            <br>
            <span>{{o.mls_take_start}} -
              {{o.mls_take_end}}</span>
          </p>
          <h2>
            <span class="text">{{o.ord_amount}} </span>
            <ion-icon class="icon" name="basket"></ion-icon>
          </h2>
          <h2>€ {{o.mls_price}}</h2>
        </div>
      </div>
    </ion-card>
</ion-content>
